body {
    background-color: darkblue;
}

#maincontent img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 55%;
    margin-left: 22.5%;
}

#maincontentaddon img{
    position: absolute;
}

