html{
    box-sizing: 0;
}

body{
    background-color: gray;
}

/*Web*/

#grid_container {
    margin: 4% 1%;
    display: grid;
    grid-template-columns: auto;
    width: 30%;
    padding-right: 20px;
    float: left;
    background-color: darkgray;
    padding-bottom: 30px;
}

#grid_container_title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.grid_item {
    background-color: #F57513;
    border: 3px solid #000;
    padding: 5px 10px;
    text-align: center;
    margin-left: 5%;
}

input,
#weight,
#height, 
#gender, 
#activity_lvl, 
#weekly_loss,
#min_cals,
#age,
#weeks {
    font-size: 1.25em;
    width: 70%;
}

#createBtn button {
    width: 50%;
    margin-left: 25%;
    background-color: #000;
    color: #FFF;
    font-size: 1.25em;
    padding: 5px;
}

/*Table*/

#table_container {
    width: 60%;
    float: left;
    margin-left: 3%;
    margin-top: 2.5%;
}

#index_header {
    font-size: 2em;
    text-align: center;
    background-color: darkgray;
}

#index_header h1 {
    padding: 1em;
}

th {
    font-size: 2em;
    border: 3px solid #000;
    padding: 5px 20px;
    width: 70%;
    margin-left: 25%;
    background-color: #F57513;
}

#table_results_row {
    font-size: 1.50em;
    padding: 5px 20px;
    margin-left: 25%;
    background-color: #000;
    color: #FFF;
}

.table_results_row_item {
    border: 3px solid #000;
    text-align: center;
}

#week_th,
  #weight_th,
  #tdee_th,
  #daily_allowed_th,
  #bmi_th {
      width: 20%;
  }

/*List*/

#list_container {
    display: none;
}

/*Mobile*/

@media only screen and (max-width: 1100px) {
    #grid_container  {
      width: 80%;
      margin-left: 10%;
    }

    #table_container {
        width: 100%;
    }
    
    table thead {
        display: none;
      }

    #table_results {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    table td {
        display: flex;
        min-width: 300px;
        padding-right: 4%;
        text-align: center;
    }
    
    table td::before {
        content: attr(label);
        font-weight: bold;
        width: 200px;
        min-width: 200px;
        border: 4px solid #F57513;
        margin-right: 25px;
        background-color: gray;
    }

    tr {
        border: 4px solid #000;
    }

    .table_results_row_item {
        background-color: #F57513;
        border: none;
        width: 100%;
    }
  }